@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Light.otf') format('opentype'),
        url('/fonts/Satoshi-Bold.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}


@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


body {
    font-family: 'Satoshi', 'Helvetica Neue', sans-serif;
}